@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
    url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-size: clamp(1rem, 0.75rem + 1.5vw, 1.7rem);
    --dark-green: #596d48;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.image-container {
    flex-shrink: 1;
    width: 30%;
}

.image-container,
img {
    height: 100%;
}

img {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: #ededed;
}

.form-container > *:not(form),
form > * {
    margin-left: 50px;
}

.controls-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.controls-container p {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;
    font-size: calc(var(--font-size) * 0.7);
}

input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #bdb7b7;
}

form {
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-top: 60px;
    color: #1f2937;
}

form h2 {
    margin-bottom: 15px;
}

form ~ *,
form {
    margin-bottom: 40px;
}

button {
    background-color: var(--dark-green);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

p.bold-font {
    font-weight: bold;
    max-inline-size: 66ch;
    font-size: var(--font-size);
}

p.log-in-para, button {
    font-size: calc(var(--font-size) * 0.75);
}

:link {
    text-decoration: none;
    color: var(--dark-green);
    font-weight: bold;
}

:visited {
    text-decoration: none;
}