@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
    url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 30%;
    height: 100%;
}

.image-container img {
    height: 100%;
}
