@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
    url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 30%;
}

.image-container,
img {
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: #ededed;
}

.form-container > *:not(form),
form > * {
    margin-left: 50px;
}

.controls-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.controls-container p {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;
}

input {
    width: 80%;
}

form {
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-top: 60px;
}

form h2 {
    margin-bottom: 15px;
}

form ~ *,
form {
    margin-bottom: 40px;
}
